<h1>Lab Financial Data Graphing</h1>

From: <input type="date" name="from" value="2019-01-01">
To: <input type="date" name="to" value="2019-04-01">

<canvas id="myChart" width="400" height="400"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="/javascripts/index.js" charset="utf-8"></script>
